@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&family=Roboto:wght@300&display=swap');


:root {
	--main-text:  72pt;
	--clr : #fc1e7d;
}

body {
	background-color: rgb(1, 0, 57);
}

.header {
	background-image: url(Images/AbstractTitle.jpg);
	background-size: cover;
	height: auto;
	padding: 5%;
}

.inner-header {
	
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.title-text {
	text-align: center;
	font-size: 5vw;
	color: var(--clr);
	font-family: 'Lato', sans-serif;
}

#phone-icon {
	animation-name: rotation;
	animation-duration: 2s;
	animation-delay: 2s;
	animation-iteration-count: infinite;

}

.inner-projects {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-content: center;

}

.left-section {
	text-align: center;
	padding: 5%;
	color: var(--clr);
	font-family: 'Lato', sans-serif;
}

.right-section {
	text-align: center;
	vertical-align: center;
}


.project-title {
	font-size:46pt;
}

.project-desc {
	font-size: 22ptw;
}

.mockup {
	object-fit: contain;
	width: 35vw;
}


@keyframes rotation {
	from {transform: rotate(0deg);}
	to {transform: rotate(359deg);}
}